<template name="basicLogin">
    <br><br>
    <div class="row" style="width:300px;margin:0 auto;">
        <h4>Nice having you here Visualeader ;)</h4>
        <h4>Now pick a username, bitch.</h4>
        <form class="basic-login">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="Username">
            </div>
            <input type="submit" name="submit" class="btn btn-primary" />
        </form>
    </div>
</template>