<template name="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Welcome To Our Secret Visualead Chat!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3>Made With Meteor!</h3>
            </div>
        </div>
        {{#if isSetUser}}
        {{> myChat}}
        {{else}}
        {{> basicLogin}}
        {{/if}}
    </div>
</template>